<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        Student类所有声明
    -->
    <bean id="myStudent" class="com.baowj.study02.Student">
        <property name="name" value="李四"/>
        <property name="age" value="12"/>
        <property name="school" ref="mySchool"/>
    </bean>

</beans>